.mentions {
    margin: 1em 0;
}


.mentions--multiLine .mentions__highlighter {
    
    border: 1px solid transparent;
    padding: 9px;
    min-height: 63px;
}

.mentions--multiLine .mentions__input {
    border: 1px solid hsl(var(--nextui-foreground-300));
    border-radius: 10px;
    padding: 9px;
    outline: 0;
    &:focus {
        border-color: rgb(var(--primary-color));
    }
}

.mentions__suggestions__list {
    overflow: hidden;
    background-color: hsl(var(--nextui-content2));
    border: 1px solid hsl(var(--nextui-foreground-300));
    border-radius: 5px;
    font-size: 14px;
}

.mentions__suggestions__item {
    padding: 5px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.mentions__suggestions__item--focused {
    background-color: rgba(var(--primary-color) / 0.8);
    color: hsl(var(--nextui-foreground)) !important;
}

.mentions__mention {
    position: relative;
    background-color: indianred;
    z-index: 1;
    color: blue;
    text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white,
        -1px -1px 1px white;
    text-decoration: underline;
    pointer-events: none;
}